@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.footer{
    padding: 70px 0 70px;
}
.brandText{
    width: 75%;
    color: #302F2F;
    font-family: 'Roboto', sans-serif;
}
.col-md-4{
    display: flex;
}
.products{
    margin: 0 40px;
    padding: 0;
}
.theme{
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0;
    font-size: 17px;
}
li{
    list-style-type: none;
    font-size: 15px;
    width: 130%;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #302F2F!important;
    text-decoration: none;
    background-color: transparent;
}
.simple p{
    width: 70%;
}